h1 {
    color: red;
    background-color: pink;
    font-size: 50px;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

h3 {
    color: blue;
}

/* div{
    height:300px;
    width:300px;
    background-color: crimson;
} */

button{
    margin: 40px;
    font-size: 20px;
    padding: 15px 30px;
    /* background-color: yellow;  */
    border: 2px solid white;
    
}

button:hover{
    background-color:yellow;
    color: black;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 2px solid white;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) 
    z-index: 9;

}
    
#box2{
    height: 200px;
    width: 200px;
    background-color: royalblue;
    border: 2px solid white;
   

    position: absolute;
    left: 45%;
    top: 60%;
    transform: translate(-50%,-50%) 
    z-index: 10;
    

}