h1 {
    color: red;
    background-color: pink;
    font-size: 50px;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

h3 {
    color: blue;
}

/* div{
    height:300px;
    width:300px;
    background-color: crimson;
} */

button{
    margin: 40px;
    font-size: 20px;
    padding: 15px 30px;
    /* background-color: yellow;  */
    border: 2px solid white;
    
}

button:hover{
    background-color:yellow;
    color: black;
}

